// Styling for the masthead
section.masthead {
    position: relative;

    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    .img-container {
        width: 800px;
        margin-left: 5%;
    }

    color: $white;

    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: left;

        h1 {
            font-size: 20px;
            text-align: left;
            padding-left: 5%;
        }

        h2 {
            font-size: 10px;
            text-align: left;
            padding-left: 5%;
        }

        .btn {
            margin-left: 5%;
        }
    }

    .container {
        padding-left: 0% !important;
    }

    @media (min-width: 600px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;

        .img-container {
            display: none;
        }

        .header-content {
            max-width: 768px;
            margin-bottom: 100px;

            text-align: left;

            h1 {
                font-size: 40px;
                text-align: left;
                padding-left: 5%;
            }

            h2 {
                font-size: 30px;
                text-align: left;
                padding-left: 5%;
            }
            .btn {
                width: 100%;
                font-size: medium;
            }
        }
    }

    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;

            h1 {
                font-size: 50px;
                padding: 0%;
                margin-right: 0%;
            }

            h2 {
                font-size: 30px;
                padding: 0%;
                margin-right: 0%;

            }
        }
    }
}
