section.mobile-img {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 200px;
    color: $white;

    img {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 1024px) {
        width: 0%;
        height: 0%;
        padding-top: 0px;
        padding-bottom: 0px;

    }
  }



