// Styling for the navbar
#mainNav {
  border-color: transparent;
  background-image: $blackboard;
  background-size: cover;
  @include transition-all;
  @include heading-font;

  .navbar-brand {
    @include heading-font;
    color: $white;
    font-weight: 700;
  }

  .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
  }

  .orange-nova {
    color: $click-orange;
  }

  .navbar-nav {
    > li {
      > a {
        font-size: 11px;
        @include alt-font;

        &.active {
          color: $click-orange !important;
          background-color: transparent;
          font-weight: 700;

          &:hover {
            background-color: transparent;
          }
        }
      }

      > a,
      > a:focus {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  @media (min-width: 992px) {
    background-image: $blackboard;
    background-size: cover;
    .navbar-brand {
      color: fade($white, 70%);

      &:hover,
      &:focus {
        color: $white;
      }
    }
    .navbar-nav > li > a,
    .navbar-nav > li > a:focus {
      color: fade-out($white, .1);

      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-color: fade-out($white, .9);
      background-color: $white;

      .navbar-brand {
        color: $white;

        &:hover,
        &:focus {
          color: $click-orange;
        }
      }

      .navbar-nav > li > a,
      .navbar-nav > li > a:focus {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .fa-bars:before {
    content: "\f0c9";
    color: white;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: $click-orange;
  }

  .dropdown-item {
    color: white;
    background-color: #4a5c66;
    border: 0;
  }

  .dropdown-menu {
    background-color: $thm-gray;

  }

  .dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: $click-orange;

  }


}
