.util-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}
.util-layout-col {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: column;
}
.util-layout-row {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: row;
}
.util-row {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  overflow: visible;
}
.util-row-inset {
  width: 100%;
  height: auto;
  flex-shrink: 1;
  overflow: visible;
  box-sizing: border-box;
}
.util-col {
  width: auto;
  height: 100%;
  flex-shrink: 0;
  overflow: visible;
}
.util-col-inset {
  width: auto;
  height: 100%;
  flex-shrink: 1;
  overflow: visible;
  box-sizing: border-box;
}
.util-fill {
  flex-grow: 1;
  overflow: hidden;
}
.util-pad-x-p8 {
  padding: 0 8px;
}
.util-pad-y-p8 {
  padding: 8px 0;
}
.util-pad-p8 {
  padding: 8px;
}

/*# sourceMappingURL=flex.css.map */
