section.bonus {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0 250px 0;
  background: #1b1e21;

  img{
    float: right;
    width: 400px;
  }
  @include background-cover;

  .section-heading {
    max-width: 200px;
    padding-bottom: 20px;
    color: white;

    text-align: center;
    h1 {
      font-size: 30px;
    }
  }
  .device-container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    .screen img {
      border-radius: 3px;
    }
  }

  @media (max-width: 600px) {
    .device-container {
      display: none;
    }
  }

  .carousel-item {
    height: 55vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-indicators {
    bottom: -150px;
  }

}
