// Styling for the download section
section.faq {
  .margin-left{
    margin-left: 20%;
  }

  .margin-right{
    margin-right: 20%;
  }
  .card-header {
    background: linear-gradient(0deg, rgba(92, 184, 92, .3) 0, rgba(92, 184, 92, .3) 2px, #f0fff0 3px, #f0fff0) !important;
    color: $theme-primary;
  }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
    }
    .btn-link:hover {
        color: $theme-primary;
        text-decoration: none;
    }
    .btn.focus, .btn:focus {
        outline: none;
    }

  .card-body {
    background-color: #fafad2 !important;
    text-align: left;
    overflow-y: auto;
    img {
      text-align: center;
      position: center;

    }
  }
}
