// Styling for the features section
section.features {
    .section-heading {
        margin-bottom: 100px;

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }

    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .feature-item {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;

        h3 {
            font-size: 30px;
        }

        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .card {
        background-color: #fafad2 !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        i {
            height: 100%;
            width: 100%;
            color: black;
            text-align: center;
            font-size: 100px;
            padding-top: 20px;
        }
        hr {
            border-top: 2px solid #ff8c00;
            margin: 30px -20px 20px;
            padding-right: 100%;

        }
        img {
            max-width: 115px;
            padding-top: 20px;
        }
    }

    @media (max-width: 600px) {
        .device-container {
            display: none;
        }
    }

    .flip-card {
        width: 300px;
        height: 400px;
        perspective: 1000px;
    }

    .flip-card-inner {
        background-color: #fafad2 !important;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        i {
            height: 100%;
            width: 100%;
            color: black;
            text-align: center;
            font-size: 115px;
            padding-top: 20px;
        }

        img {
            max-width: 115px;
            padding-top: 20px;
        }

        hr {
            border-top: 2px solid #ff8c00;
            margin: 20px 0px 20px;
            padding-right: 100%;

        }
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        color: black;
    }

    .flip-card-back {
        transform: rotateY(180deg);
        text-align: left;
        padding: 10%;
    }
}
