// Styling for the integration section
section.integration {
  position: relative;
  padding: 20px 0 250px 0;
  background-image: url('../img/blackboard.jpg');
  background-position: center;
  @include background-cover;

  .section-heading {
    margin-bottom: 100px;

    h2 {
      margin-top: 0;
        color: white;
    }

    p {
      margin-bottom: 0;
    }
  }

    .device-container,
    .feature-item {
        max-width: 225px;
        margin: 0 auto;
    }

    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .frag-jetzt {
        color: #fb9a1c;
      padding-bottom: 20px;
      a {
        width: 100%;
        text-decoration: none;
        height: 90%;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 200;
        letter-spacing: 1px;
      }

      h1 {
        margin: 0 !important;
        width: 100%;
        height: 10%;
      }
    }
  .btn-frag-jetzt{
    background-color: #bb86fc;
    text-decoration: none;
    border: none;
  }

  .arsnova-click {
    width: 100%;
    height: 80%;
    float: top;
    padding: 15px;
    display: inline-block;
    color:#20c997 ;

    a {
      width: 100%;
      text-decoration: none;
      height: 90%;
      padding-bottom: 15px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 200;
      letter-spacing: 1px;

      h1 {
        margin: 0 !important;
        width: 100%;
        height: 10%;
      }

    }
  }

  .btn-arsnova-click{
    background-color: #17a2b8;
    text-decoration: none;
    border: none;
  }

 @media (max-width: 600px) {
    .device-container {
      display: none;
    }
  }
}

