section.linux {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0 250px 0;
  background: url('../img/Linux-Regal.jpg') center;

  @include background-cover;

  h1 {
    font-size: 14vw;
    font-weight: 700;
    text-shadow: 5px 5px 20px rgba(0,0,0,.7);
    color: #2ac55f!important;
  }

  h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    color: white;
  }


  .header-content {
    text-align: center;
  }

  .device-container,
  .feature-item {
    max-width: 225px;
    margin: 0 auto;
  }

  .device-container {
    margin-bottom: 100px;
    @media(min-width: 992px) {
      margin-bottom: 0;
    }
  }
}
