section.faq {
  position: relative;
  background-size: cover;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 250px;

  .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    color: $white;
    text-align: center;
  }




   p {
    color: $white;
  }
  [data-toggle="collapse"] .fa:before {
    content: "\f139";
  }

  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }

  .btn-link {
    text-align: left;
    font-weight: 400;
    font-size: medium;
    color: $thm-blue;
    text-decoration: none;
  }
  .btn:hover {
    color: $cards-navbar-green;
    text-decoration: none;
  }

  .btn {
    width: 100%;
    margin: 1%;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 20px !important;
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    height: 100%;
  }

}
