// Styling for the footer
footer {

    h5{
        font-size: 1.3rem;
    }
    padding: 25px 0;
    text-align: center;
    //color: fade-out(white, .3);
    color: $white;
    background-image: $blackboard;
    p {
        font-size: 14px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 14px;
                //color: fade-out(white, .7);
                color: $white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                    color: $cards-navbar-green;
                }
            }
        }
    }

    .footer-logos{
        display: flex;
        img{
            max-height: 100px;
            max-width: 150px;
        }
    }
    .links {
        padding-right: 60%;
    }
}
