// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    @include body-font;
}

a {
    color: $thm-gray;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($thm-gray, 10%);
    }
}
hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    background-image: $blackboard;
    background-size: cover;       /* For flexibility */
    padding: 100px 0;
    h2 {
        font-size: 50px;
    }
}

//arrow |)-->

.arrow-wrap {
    position: fixed;
    z-index:998;
    left:50%;
    bottom: 20px;
    margin-left:-5em;
    background-color: rgba(255, 255, 255, 0.5);
    width:10em;
    height:10em;
    padding:4em 2em;
    border-radius:50%;
    font-size:0.5em;
    display:block;
    box-shadow:0px 0px 5px 0px #333;
    cursor: pointer;
}

.next > .arrow {
    float:left;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: $white transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

.backtop > .arrow {
    float:left;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: $white transparent transparent transparent;
    -webkit-transform:rotate(180deg)
}

.next > .arrow:after {
    content:'';
    position: fixed;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: $white transparent transparent transparent;
    -webkit-transform:rotate(360deg)
}

/*.backtop > .arrow:after {
    content:'';
    position: fixed;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #F5F5F5 transparent transparent transparent;
}*/



//.hint {
//    position: fixed;
//    top:0.6em;
//    width:100%;
//    left:0;
//    font-size:2em;
//    font-style:italic;
//    text-align:center;
//    color:#fff;
//    opacity:0;
//}


.arrow-wrap:hover .hint {
    opacity:1;
}

@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    //90% { top:12%; }
    100% { top:0; }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}



@media (max-width: 600px) {
    h1 {
        font-size: 20px !important;
        text-align: right;
    }
    h2 {
        font-size: 20px !important;
        text-align: right;
    }
}
@media (max-width: 1000px) {
    .btn {
        width: 100%;
        margin-top: 4%;
        margin-left: 50%;
    }

}
