
.swipe{
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:relative;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    cursor: grab;
    transform:translate3d(0,0,0);
    overflow:hidden;
}

.swipe:active{
    cursor: grabbing;
}

.swipe-container{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    will-change:transform;
    transform:translate3d(0,0,0);
    transition:none;
    overflow:hidden;
}

.swipe-layer{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    will-change:transform;
    transform:translate3d(0,0,0);
    transition:none;
}
