
/* section tutorial */

.tutorial-section{
    min-height:100%;
    position: relative;
}

.tutorial-section-content{
    height:650px;
    width:100%;
}

.tutorial-section-swipe-img{
    width:100%;
    height:100%;
}

.tutorial-section-pips{
    padding-top:16px;
}

.tutorial-section-swipe{
}

.tutorial-section-swipe-caption-wrapper{
}

.tutorial-section-swipe-caption-content-wrapper{
    background-color:white;
    border-radius:2px;
    box-shadow:inset 0 0 0 1px gray;
}

.tutorial-section-swipe-caption{
    padding-top:32px;
    padding-bottom:16px;
    color:black;
    text-align:center;
}

.test{
    width:100px;
    height:100px;
    position:relative;
    left:50%;
    top:50%;
    transform:translate3D(-50%,-50%,0);
    box-shadow:inset 0 0 0 5px black;
}

.tutorial-section-device-frame{
    width:100%;
    height:100%;
    box-sizing:border-box;
    background-image:url("device-mockups/ipad_pro/ipad_pro_land_black.png");
    padding:34px 60px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    border-radius:4px;
}

@media screen and (max-width:1000px){
    .tutorial-section-device-frame{
        width:100%;
        height:100%;
        box-sizing:border-box;
        background-image:none;
        padding:0;
        background-size:100% 100%;
        background-repeat:no-repeat;
        border-radius:0;
    }
}

#swipe-pips{
    padding-top:32px;
}

#swipe-pips button{
    margin:0 8px;
}

.tutorial-section-pip-container{
    height:0;
    max-height:0;
    overflow:visible;
    background-color:yellow;
    position:absolute;
}

.tutorial-section-pip-container button{
    position:relative;
    z-index:99;
}

.swipe-pip{
    width:50px;
    height:50px;
    background-color:white;
    border-radius:2px;
    box-shadow:inset 0px 0px 0px 1px black;
    border:none;
    outline:none;
    top:calc( (650px - 50px ) / 2 );
}

#swipe-pip-prev {
    width:50px;
    height:50px;
    left:16px;
    position:relative;
}

#swipe-pip-next {
    width:50px;
    height:50px;
    right:16px;
    position:relative;
}

.tutorial-section-swipe-layer-background{
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
}

.background-img-slide-1{
    background-image:url("img/grid.png");
    background-size:contain;
    background-position:center;
}

.background-img-slide-2{
    background-image:url("img/cards_background.png");
}

.background-img-slide-3{
    background-image:url("img/fragjetzt_background.png");
}

.tutorial-section-swipe-layer-2 {
    width:100%;
    max-width:100%;
    height:calc( 100% - 200px);
    position:relative;
    left:0;
    top:32px;
    background-image:url("device-mockups/ipad_air_2/ipad_air_2_gray_port.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

/* layout */

.content-container{
    width:1000px;
    padding:0 16px;
}

.content-container-no-pad{
    width:1000px;
    padding:0 16px;
}

.debug-border{
    box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.5);
}

/* footer */

.footer-list *{
    text-align:left;
}

.footer-list-big .footer-list-big-align{
    justify-content:flex-end;
}

@media screen and (max-width:1000px){
    .footer-layout{
        flex-direction:column;
    }
    .footer-list {
        padding:16px 0;
    }
    .footer-list-big .footer-list-big-align{
        justify-content:center;
    }
    .footer-scroll-btn{
        width:100%;
        text-align:center;
        margin-bottom:32px;
    }
    .content-container-no-pad{
        width:1000px;
        padding:0 0;
    }
    .hide-on-mobile{
        display:none;
    }
}

.cursor-pointer{
    cursor:pointer;
}

/* Translation */

.en, .de {
    display:none;
}

.en:lang(en), .de:lang(de){
    display:block;
}
