// Styling for the integration section
section.arsnova-click {
  position: relative;

  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: $white;


  .img-container {
    display: none;
  }

  .header-content {
    max-width: 500px;
    margin-bottom: 100px;

    text-align: left;

    h1 {
      font-size: 20px;
      text-align: left;
      padding-left: 5%;
    }

    h2 {
      font-size: 10px;
      text-align: left;
      padding-left: 5%;
    }

    .btn {
      margin-left: 5%;
    }
  }

  .container {
    padding-left: 0% !important;
  }

  @media (min-width: 600px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;

    .img-container {
      display: none;
    }

    .header-content {
      max-width: 768px;
      margin-bottom: 100px;

      text-align: left;

      h1 {
        font-size: 40px;
        text-align: left;
        padding-left: 5%;
      }

      h2 {
        font-size: 30px;
        text-align: left;
        padding-left: 5%;
      }
    }
  }

  @media (min-width: 1024px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;

    .img-container {
      display: inherit;
      width: 600px;
      margin-left: -50%;
    }

    .header-content {
      margin-bottom: 0;

      text-align: left;

      h1 {
        font-size: 50px;
        padding-left: 5%;
      }

      h2 {
        font-size: 30px;
        padding-left: 5%;

      }
    }
  }

  @media (min-width: 1300px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;

    .img-container {
      display: inherit;
      width: 600px;
      float: right;
    }

    .header-content {
      margin-bottom: 0;

      text-align: left;

      h1 {
        font-size: 50px;
        padding-left: 5%;
      }

      h2 {
        font-size: 30px;
        padding-left: 5%;

      }
    }
  }
}

