// Bootstrap overrides for this template
.bg-primary {
    background: $thm-gray;
    background: -webkit-linear-gradient($thm-gray, darken($thm-gray, 5%));
    background: linear-gradient($thm-gray, darken($thm-gray, 5%));
}

.text-primary {
    color: $cards-navbar-green!important;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: $white;
    border: 1px solid;
    border-color: $white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $white;
        border-color: $thm-gray;
        background-color: $thm-blue;
    }
}

.btn {
    border-radius: 300px;
    @include alt-font;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}
