section.faq {
  width: 100%;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;

  .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    color: $white;
    text-align: center;
  }


   p {
    color: $white;
  }
  [data-toggle="collapse"] .fa:before {
    content: "\f139";
  }

  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }

  .btn-link {
    text-align: left;
    font-weight: 400;
    font-size: medium;
    color: $thm-blue;
    text-decoration: none;
  }
  .btn:hover {
    color: $cards-navbar-green;
    text-decoration: none;
  }

  .btn {
    width: 100%;
    margin: 1%;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 20px !important;
      text-align: center;
    }
  }

  /* Video Wrapper */
  .video_wrapper {
    background-image: $blackboard;
    background-size: cover;
    position: relative;
    box-shadow: 0px 3px 5px #333;
    height: 400px;
    width: 100%;
  }
  .video_wrapper .video_trigger:before {
    position: absolute;
    z-index: -1;
    font-size: 120px;
    color: rgba(255,255,255,.2);
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    left: -webkit-calc(50% - 60px);
    left: calc(50% - 60px);
  }

  .video_wrapper .video_trigger {
    padding: 130px 30px;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0,0,0,.6);
    color: #fff;
  }
  .video_wrapper .video_layer {
    position: relative;
    display: none;
    height: inherit;
    width: inherit;
    margin: auto;
  }
  .video_wrapper .video_layer iframe {
    border: 0px none transparent;
    height: inherit;
    width: inherit;
  }

  /* Button */
  .btn-accept {
  cursor: pointer;
  display: inline-block;
  transition: color .5s, background-color .5s, border .5s;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid $white;
    width: 50% ;

}
  .btn-accept:hover {
    background-color: transparent;
    color: $white;
    text-align: center;
  }

  .data-privacy {
    color: deepskyblue;
  }

}
