section.mobile-img {
    position: relative;

    width: 100%;
    height: 1000px;
    padding-top: 150px;
    padding-bottom: 100px;
    color: $white;

    img {
        width: 100%;
        height: 200%;
    }

    @media (min-width: 1024px) {
        width: 0%;
        height: 0%;
        padding-top: 0px;
        padding-bottom: 0px;

    }
  }



