/*!
 * Start Bootstrap - New Age v5.0.8 (https://startbootstrap.com/themes/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: left;
  letter-spacing: 2px;
  line-height: inherit;
}

body {
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  letter-spacing: 2px;
  letter-spacing: 2px;
  line-height: inherit;
}

a {
  color: #4a5c66;
  transition: all .35s;
}

a:hover, a:focus {
  color: #354148;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  font-weight: 200;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 20px;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.arrow-wrap {
  position: fixed;
  z-index: 998;
  left: 50%;
  bottom: 20px;
  margin-left: -5em;
  background-color: transparent;
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  cursor: pointer;
}

.next > .arrow {
  float: left;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.backtop > .arrow {
  float: left;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(180deg);
}

.next > .arrow:after {
  content: '';
  position: fixed;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

/*.backtop > .arrow:after {
    content:'';
    position: fixed;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #F5F5F5 transparent transparent transparent;
}*/
.arrow-wrap:hover .hint {
  opacity: 1;
}

@-webkit-keyframes arrows {
  0% {
    top: 0;
  }
  10% {
    top: 12%;
  }
  20% {
    top: 0;
  }
  30% {
    top: 12%;
  }
  40% {
    top: -12%;
  }
  50% {
    top: 12%;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12%;
  }
  80% {
    top: -12%;
  }
  100% {
    top: 0;
  }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
}

.cookiealert.show ~ #arrow > a {
  transform: translateY(-105px);
}

@media (min-width: 600px) {
  .cookiealert.show ~ #arrow > a {
    transform: translateY(-81px);
  }
}

@media (min-width: 992px) {
  .cookiealert.show ~ #arrow > a {
    transform: translateY(-57px);
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 30px !important;
    padding: 20px;
  }
  h2 {
    font-size: 2em !important;
    padding: 20px;
  }
  p {
    padding-left: 5%;
  }
  .btn {
    margin-top: 4%;
    padding: 0;
  }
  .container-btn {
    padding-left: 0 !important;
    text-align: center;
  }
}

#mainNav {
  border-color: transparent;
  background: transparent;
  transition: all .35s;
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  font-weight: 200;
  letter-spacing: 2px;
}

#mainNav .navbar-brand {
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  font-weight: 300;
}

#mainNav .navbar-toggler {
  font-size: 20px;
  border-color: transparent;
  padding: 8px 10px;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  letter-spacing: 2px;
  font-size: smaller;
}

#mainNav .navbar-nav > li > a.active {
  color: #2ac55f !important;
  background-color: transparent;
  font-weight: 700;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    background: transparent;
    background-size: cover;
  }
  #mainNav .navbar-collapse {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0%;
    width: 100%;
    padding: 0;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #2ac55f;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(255, 255, 255, 0.1);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: white;
  }
}

#mainNav .fa-ellipsis-v:before {
  content: "\f142";
  font-size: xx-large;
  color: white;
  border-color: transparent;
}

#mainNav .dropdown-item.active, #mainNav .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #2ac55f;
}

#mainNav .dropdown-item {
  color: white;
  background-color: #4a5c66;
  border: 0;
}

#mainNav .dropdown-menu {
  background-color: #4a5c66;
}

#mainNav .dropdown-item:focus, #mainNav .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #002878;
}

section.linux {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.linux .img-container {
  display: none;
}

section.linux .header-content {
  max-width: 500px;
  text-align: left;
}

section.linux .btn {
  font-size: larger;
}

section.linux .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
    padding-bottom: 0;
  }
  section.linux .img-container {
    display: none;
  }
  section.linux .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
  }
  section.linux .img-container {
    display: inherit;
    width: 500px;
    float: right;
  }
  section.linux .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
    padding-top: 100px;
    padding-bottom: 0;
  }
  section.linux .img-container {
    display: inherit;
    width: 600px;
    float: right;
  }
  section.linux .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

section.footer {
  position: relative;
  max-height: 1024px;
  padding-top: 768px;
  width: 100%;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

@media (max-width: 1025px) {
  section.footer {
    position: relative;
    max-height: 1024px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
  }
}

section.footer h2 {
  font-size: 1rem;
}

section.footer p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

section.footer ul {
  margin-bottom: 0;
}

section.footer ul li a {
  font-size: 14px;
  color: white;
}

section.footer ul li a:hover, section.footer ul li a:focus, section.footer ul li a:active, section.footer ul li a.active {
  text-decoration: none;
  color: #2ac55f;
}

section.footer p {
  text-decoration: underline;
}

section.footer .footer-logos {
  display: flex;
}

section.footer .footer-logos img {
  max-height: 100px;
  max-width: 150px;
}

section.footer .links {
  padding-right: 60%;
}

.bg-primary {
  background: #4a5c66;
  background: linear-gradient(#4a5c66, #3f4f57);
}

.text-primary {
  color: #2ac55f !important;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #4a5c66;
  background-color: #002878;
}

.btn {
  border-radius: 300px;
  font-family: 'squeaky_chalk_soundregular', 'sans-serif';
  letter-spacing: 2px;
  font-size: smaller;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

section.frag-jetzt {
  position: relative;
  width: 100%;
  max-height: 1024px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.frag-jetzt .img-container {
  display: none;
}

section.frag-jetzt .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.frag-jetzt .btn {
  font-size: large;
}

section.frag-jetzt .container {
  padding-left: 0% !important;
}

@media (max-width: 800px) {
  section.frag-jetzt {
    height: 100vh;
    max-height: 1024px;
  }
  section.frag-jetzt .h-100 {
    height: 0% !important;
  }
  section.frag-jetzt .img-container {
    display: none;
  }
  section.frag-jetzt .header-content {
    max-width: 768px;
    text-align: left;
  }
}

@media (min-width: 600px) {
  section.frag-jetzt {
    height: 100vh;
    max-height: 1024px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  section.frag-jetzt {
    height: 100vh;
    max-height: 1024px;
  }
  section.frag-jetzt .img-container {
    display: inherit;
    width: 500px;
    margin-left: -10%;
  }
  section.frag-jetzt .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

section.mobile-img {
  position: relative;
  width: 100%;
  height: 1000px;
  padding-bottom: 100px;
  color: white;
}

section.mobile-img img {
  width: 100%;
  height: 200%;
  padding-top: 100px;
}

@media (max-width: 800px) {
  section.mobile-img {
    height: 100vh;
    min-height: 1000px;
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  section.mobile-img {
    width: 0%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0;
  }
}

section.features {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /*------------------------------------------------------------------------------*/
  /* style the maincontainer class with all child div's of class .front */
  /* style the maincontainer class with all child div's of class .back */
}

section.features .header-content {
  max-width: 1000px;
  color: white;
  text-align: center;
}

section.features p {
  text-align: center;
}

@media (min-width: 300px) {
  section.features .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 360px) {
  section.features .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  section.features h2 {
    text-align: center;
    font-size: 20px;
  }
}

section.features .maincontainer {
  width: 300px;
  height: 400px;
  margin: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .maincontainer i {
  font-size: 80px;
  display: block;
  background: #4a5c66;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features .maincontainer img {
  border-radius: 10px;
}

section.features .maincontainer .back h2 {
  padding: 2%;
  font-size: 20px !important;
  text-align: center;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

section.features .maincontainer .back p {
  position: absolute;
  top: 40px;
  padding: 5%;
  text-align: left;
  font-size: 18px;
  line-height: 1;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
}

section.features .maincontainer .front h2 {
  text-align: center;
  top: 200px;
  color: #000;
  font-size: 30px;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

section.features .maincontainer > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  width: 300px;
  height: 400px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* cant see the backside elements as theyre turning around */
  transition: transform .5s linear 0s;
  background-color: #fafad2 !important;
}

section.features .maincontainer > .front i {
  height: 100%;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 115px;
  padding-top: 20px;
}

section.features .maincontainer > .front img {
  max-width: 150px;
  padding-top: 20px;
}

section.features .maincontainer > .front hr {
  border-top: 2px solid #ff8c00;
  margin: -230px auto 0;
  padding-right: 100%;
  top: 100%;
}

section.features .maincontainer > .front .pomodoro {
  margin: 0;
}

section.features .maincontainer > .front .linux {
  margin-top: 3%;
}

section.features .maincontainer > .front p {
  padding: 20px;
  font-size: 15px !important;
  line-height: 1;
}

section.features .maincontainer > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  background: #fafad2 !important;
  color: black;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  padding: 0%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* cant see the backside elements as theyre turning around */
  transition: transform .5s linear 0s;
}

section.features .maincontainer:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

section.features .maincontainer:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

@media (max-width: 600px) {
  section.features h1 {
    text-align: center;
  }
}

@media (max-width: 810px) {
  section.features .row {
    justify-content: center;
  }
}

section.bonus {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.bonus .img-container {
  display: none;
}

section.bonus .header-content {
  max-width: 500px;
  padding-top: 30px;
  margin-bottom: 100px;
  text-align: left;
}

section.bonus .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.bonus .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.bonus .header-content .btn {
  margin-left: 5%;
}

section.bonus .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.bonus {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.bonus .img-container {
    display: none;
  }
  section.bonus .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.bonus .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.bonus .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.bonus {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.bonus .img-container {
    display: inherit;
    width: 400px;
    margin-left: 0%;
  }
  section.bonus .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.bonus .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.bonus .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

@media (min-width: 1300px) {
  section.bonus {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.bonus .img-container {
    display: inherit;
    width: 500px;
    float: right;
  }
  section.bonus .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.bonus .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.bonus .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

section.leitner {
  position: relative;
  width: 100%;
  height: 200%;
  max-height: 1024px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.leitner .img-container {
  display: none;
}

section.leitner .header-content {
  max-width: 1000px;
  text-align: left;
}

section.leitner .btn {
  font-size: larger;
}

section.leitner .container {
  padding-left: 0% !important;
}

@media (max-width: 800px) {
  section.leitner {
    height: 100vh;
  }
  section.leitner .h-100 {
    height: 0% !important;
  }
  section.leitner .img-container {
    display: none;
  }
  section.leitner .header-content {
    max-width: 768px;
    text-align: left;
  }
}

@media (min-width: 600px) {
  section.leitner {
    height: 100vh;
    min-height: 775px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  section.leitner {
    height: 100vh;
    min-height: 775px;
  }
  section.leitner .img-container {
    display: inherit;
    width: 500px;
    margin-left: -10%;
  }
  section.leitner .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

section.pomodoro {
  position: relative;
  width: 100%;
  max-height: 1024px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.pomodoro .img-container {
  display: none;
}

section.pomodoro .header-content {
  max-width: 500px;
  text-align: left;
  padding-top: 0px;
}

section.pomodoro .btn {
  font-size: larger;
}

section.pomodoro .container {
  padding-left: 0% !important;
}

@media (max-width: 800px) {
  section.pomodoro {
    height: 200vh;
  }
  section.pomodoro .h-100 {
    height: 0% !important;
  }
  section.pomodoro .img-container {
    display: none;
  }
  section.pomodoro .header-content {
    max-width: 768px;
    text-align: left;
  }
}

@media (min-width: 600px) {
  section.pomodoro {
    height: 100vh;
    min-height: 775px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  section.pomodoro {
    height: 100vh;
    min-height: 775px;
  }
  section.pomodoro .img-container {
    display: inherit;
    width: 500px;
    margin-left: -10%;
  }
  section.pomodoro .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

section.faq {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

section.faq .header-content {
  max-width: 500px;
  color: white;
  text-align: center;
  padding-top: 30px;
}

section.faq p {
  color: white;
  padding: 20px;
}

section.faq [data-toggle="collapse"] .fa:before {
  content: "\f139";
}

section.faq [data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

section.faq .btn-link {
  text-align: left;
  font-weight: 400;
  font-size: medium;
  color: #002878;
  text-decoration: none;
}

section.faq .btn:hover {
  color: #2ac55f;
  text-decoration: none;
}

section.faq .btn {
  width: 100%;
  margin: 1%;
}

@media (max-width: 800px) {
  section.faq {
    height: 100vh;
    min-height: 775px;
    padding-top: 30px;
    padding-bottom: 0;
  }
  section.faq h1 {
    font-size: 20px !important;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  section.faq {
    height: 100vh;
    min-height: 775px;
    padding-top: 30px;
    padding-bottom: 0;
  }
}
