section.faq {
  position: relative;

  height: 100%;
  width: 100%;
  padding-bottom: 100px;


  .header-content {
    max-width: 500px;
    color: $white;
    text-align: center;
    padding-top: 30px;
  }




  p {
    color: $white;
    padding: 20px;
  }
  [data-toggle="collapse"] .fa:before {
    content: "\f139";
  }

  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }

  .btn-link {
    text-align: left;
    font-weight: 400;
    font-size: medium;
    color: $thm-blue;
    text-decoration: none;
  }
  .btn:hover {
    color: $cards-navbar-green;
    text-decoration: none;
  }

  .btn {
    width: 100%;
    margin: 1%;
  }

  @media (max-width: 800px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 30px;
    padding-bottom: 0;

    h1 {
      font-size: 20px !important;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 30px;
    padding-bottom: 0;
  }

}
