section.features {
  position: relative;

  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $white;
  hyphens: auto;

  .header-content {
    max-width: 1000px;
    color: $white;

    text-align: center;
  }

  p {
    text-align: center;
  }




  @media (min-width: 300px){
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (min-width: 360px){
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 20px;
      margin-right: auto;
      margin-left: auto;
    }
  }


  @media (max-width: 600px) {
    h2 {
      text-align: center;
      font-size: 20px;
    }
  }



  /*------------------------------------------------------------------------------*/

  .maincontainer {
    width: 300px;
    height: 400px;
    margin: 10px;

    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;


    i {
      font-size: 80px;
      display: block;
      // margin-bottom: 15px;
      background: $thm-gray;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      border-radius: 10px;
    }

    .back h2 {
      padding: 2%;
      font-size: 20px !important;
      text-align: center;
      font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    }

    .back p {
      position: absolute;
      top: 40px;
      padding: 5%;
      text-align: left;
      font-size: 18px;
      line-height: 1;
      font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
      letter-spacing: 1px;

    }

    .front h2 {
      text-align: center;
      top: 200px;
      color: #000;
      font-size: 30px;
      font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    }
  }

  /* style the maincontainer class with all child div's of class .front */
  .maincontainer > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);

    width: 300px;
    height: 400px;
    text-align: center;

    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
    background-color: $yellow-card !important;


    i {
      height: 100%;
      width: 100%;
      color: $black;
      text-align: center;
      font-size: 115px;
      padding-top: 20px;
    }

    img {
      max-width: 150px;
      padding-top: 20px;
    }

    hr {
      border-top: 2px solid $card-divider;
      margin: -230px auto 0;
      padding-right: 100%;
      top: 100%;

    }

    .pomodoro {
      margin: 0;

    }

    .linux {
      margin-top: 3%;

    }

    p {
      padding: 20px;
      font-size: 15px !important;
      line-height: 1;

    }
  }

  /* style the maincontainer class with all child div's of class .back */
  .maincontainer > .back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: $yellow-card !important;
    color: $black;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 0%;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
  }

  .maincontainer:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
  }




  .maincontainer:hover > .back {
    transform: perspective(600px) rotateY(0deg);
  }



  @media (max-width: 600px) {
    h1 {
      text-align: center;
    }
  }
  @media (max-width: 810px) {
    .row {
      justify-content: center;
    }
  }
}



