// Styling for the footer
section.footer {
    position: relative;
    max-height: 1024px;
    padding-top: 768px;
    width: 100%;
    color: $white;
    hyphens: auto;

    @media (max-width: 1025px) {
        position: relative;
        max-height: 1024px;
        padding-top: 200px;
        padding-bottom: 200px;
        width: 100%;
    }

    h2{
        font-size: 1rem;
    }
    text-align: center;
    //color: fade-out(white, .3);

    p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 14px;
                //color: fade-out(white, .7);
                color: $white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                    color: $cards-navbar-green;
                }
            }
        }
    }

    p {
        text-decoration: underline;
    }

    .footer-logos{
        display: flex;

        img{
            max-height: 100px;
            max-width: 150px;
        }
    }
    .links {
        padding-right: 60%;
    }
}
