// Styling for the masthead
section.frag-jetzt {

  position: relative;

  width: 100%;
  max-height: 1024px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $white;
  hyphens: auto;

  .img-container {
    display: none;
  }

  .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: left;
  }

  .btn {
    font-size: large;
  }

  .container {
    padding-left: 0% !important;
  }

  @media (max-width: 800px) {
    height: 100vh;
    max-height: 1024px;


    .h-100 {
      height: 0%!important;
    }
    .img-container {
      display: none;
    }

    .header-content {
      max-width: 768px;
      text-align: left;
    }
  }

  @media (min-width: 600px) {
    height: 100vh;
    max-height: 1024px;
    padding-bottom: 0;
  }

  @media (min-width: 1024px) {
    height: 100vh;
    max-height: 1024px;

    .img-container {
      display: inherit;
      width: 500px;
      margin-left: -10%;
    }

    .header-content {
      margin-bottom: 0;
      text-align: left;
    }
  }
}
