section.linux {
  position: relative;

  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $white;
  hyphens: auto;

  .img-container {
    display: none;
  }

  .header-content {
    max-width: 500px;

    text-align: left;
  }

  .btn {
    font-size: larger;
  }


  .container {
    padding-left: 0% !important;
  }


  @media (min-width: 600px) {
    height: 100vh;
    min-height: 775px;
    padding-bottom: 0;

    .img-container {
      display: none;
    }

    .header-content {
      max-width: 768px;
      margin-bottom: 100px;

      text-align: left;
    }
  }

  @media (min-width: 1024px) {
    height: 100vh;
    min-height: 775px;

    .img-container {
      display: inherit;
      width: 500px;
      float: right;
    }

    .header-content {
      margin-bottom: 0;

      text-align: left;
    }
  }

  @media (min-width: 1300px) {
    height: 100vh;
    min-height: 775px;
    padding-top: 100px;
    padding-bottom: 0;

    .img-container {
      display: inherit;
      width: 600px;
      float: right;
    }

    .header-content {
      margin-bottom: 0;

      text-align: left;
    }
  }
}
