section.mobile-img {
    position: relative;

    width: 100%;
    height: 1000px;
    padding-bottom: 100px;
    color: $white;

    img {
        width: 100%;
        height: 200%;
        padding-top: 100px;
    }

    @media (max-width: 800px) {
        height: 100vh;
        min-height: 1000px;
        padding-top: 80px;
        padding-bottom: 0;
    }

    @media (min-width: 1024px) {
        width: 0%;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0;

    }
  }



