// Styling for the navbar
#mainNav {
  border-color: transparent;
  background: transparent;
  @include transition-all;
  @include heading-font;

  .navbar-brand {
    @include heading-font;
    color: $white;
    font-weight: 300;
  }


  .navbar-toggler {
    font-size: 20px;
    border-color: transparent;
    padding: 8px 10px;
  }

  .navbar-nav {

    > li {
      > a {
        font-size: 11px;
        @include alt-font;

        &.active {
          color: $cards-navbar-green !important;
          background-color: transparent;
          font-weight: 700;

          &:hover {
            background-color: transparent;
          }
        }
      }

      > a,
      > a:focus {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  @media (min-width: 992px) {
    background: transparent;
    background-size: cover;

    .navbar-collapse  {
      background-color: transparent;
      margin-left: 0;
      margin-right: 0%;
      width: 100%;
      padding: 0;
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
    }

    .navbar-brand {
      color: fade($white, 70%);

      &:hover,
      &:focus {
        color: $cards-navbar-green;
      }
    }
    .navbar-nav > li > a,
    .navbar-nav > li > a:focus {
      color: fade-out($white, .1);

      &:hover {
        color: $white;
      }
    }
    &.navbar-shrink {
      border-color: fade-out($white, .9);
      //background-color: $white;

      .navbar-brand {
        color: $white;

        &:hover,
        &:focus {
          color: $white;
        }
      }

      .navbar-nav > li > a,
      .navbar-nav > li > a:focus {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .fa-ellipsis-v:before {
    content: "\f142";
    font-size: xx-large;
    color: white;
    border-color: transparent;

  }

  .dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: $cards-navbar-green;
  }

  .dropdown-item {
    color: white;
    background-color: #4a5c66;
    border: 0;
  }

  .dropdown-menu {
    background-color: $thm-gray;

  }

  .dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: $thm-blue;

  }


}
