// Variables

// Gray and Brand Colors for use across theme

$thm-blue:   #002878;
$thm-gray: #4a5c66;
$card-divider:   #ff8c00;
$cards-navbar-green:#2ac55f;
$white: white;
$black: black;
$yellow-card: #fafad2;
$blackboard: url('../img/blackboard.jpg');
$green-card: linear-gradient(0deg, rgba(92, 184, 92, .3) 0, rgba(92, 184, 92, .3) 2px, #f0fff0 3px, #f0fff0);
$lightgreen: #f0fff0;
$lightblue: #e0ffff;
$click-orange: #ff9800;

$bg-leitner: url('../img/arsnova-landing-page.png');
$bg-pomodoro: url('../img/Pomodoro-Timer.png');

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee






