/*!
 * Start Bootstrap - New Age v5.0.8 (https://startbootstrap.com/themes/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #4a5c66;
  transition: all .35s;
}

a:hover, a:focus {
  color: #354148;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  background-image: url("../img/blackboard.jpg");
  background-size: cover;
  /* For flexibility */
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.arrow-wrap {
  position: fixed;
  z-index: 998;
  left: 50%;
  bottom: 20px;
  margin-left: -5em;
  background-color: rgba(255, 255, 255, 0.5);
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.5em;
  display: block;
  box-shadow: 0px 0px 5px 0px #333;
  cursor: pointer;
}

.next > .arrow {
  float: left;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.backtop > .arrow {
  float: left;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(180deg);
}

.next > .arrow:after {
  content: '';
  position: fixed;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

/*.backtop > .arrow:after {
    content:'';
    position: fixed;
    top:-3.2em;
    left:-3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #F5F5F5 transparent transparent transparent;
}*/
.arrow-wrap:hover .hint {
  opacity: 1;
}

@-webkit-keyframes arrows {
  0% {
    top: 0;
  }
  10% {
    top: 12%;
  }
  20% {
    top: 0;
  }
  30% {
    top: 12%;
  }
  40% {
    top: -12%;
  }
  50% {
    top: 12%;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12%;
  }
  80% {
    top: -12%;
  }
  100% {
    top: 0;
  }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 2.8s 0.4s;
  -webkit-animation-delay: 3s;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px !important;
    text-align: right;
  }
  h2 {
    font-size: 20px !important;
    text-align: right;
  }
}

@media (max-width: 1000px) {
  .btn {
    width: 100%;
    margin-top: 4%;
    margin-left: 50%;
  }
}

#mainNav {
  border-color: transparent;
  background-image: url("../img/blackboard.jpg");
  background-size: cover;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
}

#mainNav .orange-nova {
  color: #ff9800;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  font-size: small;
}

#mainNav .navbar-nav > li > a.active {
  color: #ff9800 !important;
  background-color: transparent;
  font-weight: 700;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    background-image: url("../img/blackboard.jpg");
    background-size: cover;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #002878;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: white;
  }
}

#mainNav .fa-bars:before {
  content: "\f0c9";
  color: white;
}

#mainNav .dropdown-item.active, #mainNav .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #ff9800;
}

#mainNav .dropdown-item {
  color: white;
  background-color: #4a5c66;
  border: 0;
}

#mainNav .dropdown-menu {
  background-color: #4a5c66;
}

#mainNav .dropdown-item:focus, #mainNav .dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: #002878;
}

section.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.masthead .img-container {
  width: 800px;
  margin-left: 5%;
}

section.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.masthead .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.masthead .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.masthead .header-content .btn {
  margin-left: 5%;
}

section.masthead .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.masthead .img-container {
    display: none;
  }
  section.masthead .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.masthead .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.masthead .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
  section.masthead .header-content .btn {
    width: 100%;
    font-size: medium;
  }
}

@media (min-width: 992px) {
  section.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.masthead .header-content h1 {
    font-size: 50px;
    padding: 0%;
    margin-right: 0%;
  }
  section.masthead .header-content h2 {
    font-size: 30px;
    padding: 0%;
    margin-right: 0%;
  }
}

section.linux {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.linux .img-container {
  display: none;
}

section.linux .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.linux .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.linux .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.linux .header-content .btn {
  margin-left: 5%;
}

section.linux .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.linux .img-container {
    display: none;
  }
  section.linux .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.linux .header-content h1 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
  section.linux .header-content h2 {
    font-size: 20px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.linux .img-container {
    display: inherit;
    width: 600px;
    margin-left: -40%;
  }
  section.linux .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.linux .header-content h1 {
    font-size: 30px;
    padding-left: 5%;
  }
  section.linux .header-content h2 {
    font-size: 20px;
    padding-left: 5%;
  }
}

@media (min-width: 1300px) {
  section.linux {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.linux .img-container {
    display: inherit;
    width: 600px;
    float: right;
  }
  section.linux .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.linux .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.linux .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  color: white;
  background-image: url("../img/blackboard.jpg");
}

footer h5 {
  font-size: 1.3rem;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 14px;
  color: white;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
  color: #2ac55f;
}

footer .footer-logos {
  display: flex;
}

footer .footer-logos img {
  max-height: 100px;
  max-width: 150px;
}

footer .links {
  padding-right: 60%;
}

.bg-primary {
  background: #4a5c66;
  background: linear-gradient(#4a5c66, #3f4f57);
}

.text-primary {
  color: #2ac55f !important;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #4a5c66;
  background-color: #002878;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  font-size: small;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

section.frag-jetzt {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.frag-jetzt .img-container {
  display: none;
}

section.frag-jetzt .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.frag-jetzt .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.frag-jetzt .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.frag-jetzt .header-content .btn {
  margin-left: 5%;
}

section.frag-jetzt .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.frag-jetzt {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.frag-jetzt .img-container {
    display: none;
  }
  section.frag-jetzt .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.frag-jetzt .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.frag-jetzt .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.frag-jetzt {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.frag-jetzt .img-container {
    display: inherit;
    width: 600px;
    margin-left: -40%;
  }
  section.frag-jetzt .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.frag-jetzt .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.frag-jetzt .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

section.arsnova-click {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.arsnova-click .img-container {
  display: none;
}

section.arsnova-click .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.arsnova-click .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.arsnova-click .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.arsnova-click .header-content .btn {
  margin-left: 5%;
}

section.arsnova-click .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.arsnova-click {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.arsnova-click .img-container {
    display: none;
  }
  section.arsnova-click .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.arsnova-click .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.arsnova-click .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.arsnova-click {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.arsnova-click .img-container {
    display: inherit;
    width: 600px;
    margin-left: -50%;
  }
  section.arsnova-click .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.arsnova-click .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.arsnova-click .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

@media (min-width: 1300px) {
  section.arsnova-click {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.arsnova-click .img-container {
    display: inherit;
    width: 600px;
    float: right;
  }
  section.arsnova-click .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.arsnova-click .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.arsnova-click .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

section.arsnova-eu {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.arsnova-eu .img-container {
  display: none;
}

section.arsnova-eu .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.arsnova-eu .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.arsnova-eu .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.arsnova-eu .header-content .btn {
  margin-left: 5%;
}

section.arsnova-eu .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.arsnova-eu {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.arsnova-eu .img-container {
    display: none;
  }
  section.arsnova-eu .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.arsnova-eu .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.arsnova-eu .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.arsnova-eu {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.arsnova-eu .img-container {
    display: inherit;
    width: 600px;
    margin-left: -40%;
  }
  section.arsnova-eu .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.arsnova-eu .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.arsnova-eu .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

section.thm-cards {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.thm-cards .img-container {
  display: none;
}

section.thm-cards .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.thm-cards .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.thm-cards .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.thm-cards .header-content .btn {
  margin-left: 5%;
}

section.thm-cards .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.thm-cards {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.thm-cards .img-container {
    display: none;
  }
  section.thm-cards .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.thm-cards .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.thm-cards .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.thm-cards {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.thm-cards .img-container {
    display: inherit;
    width: 600px;
    margin-left: -50%;
  }
  section.thm-cards .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.thm-cards .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.thm-cards .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

@media (min-width: 1300px) {
  section.thm-cards {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.thm-cards .img-container {
    display: inherit;
    width: 600px;
    float: right;
  }
  section.thm-cards .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.thm-cards .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.thm-cards .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}

section.mobile-img {
  position: relative;
  background-image: url("../img/blackboard.jpg");
  width: auto;
  height: auto;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (min-width: 1024px) {
  section.mobile-img {
    width: 0%;
    height: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

section.open-source {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

section.open-source .img-container {
  display: none;
}

section.open-source .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

section.open-source .header-content h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}

section.open-source .header-content h2 {
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
}

section.open-source .header-content .btn {
  margin-left: 5%;
}

section.open-source .container {
  padding-left: 0% !important;
}

@media (min-width: 600px) {
  section.open-source {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.open-source .img-container {
    display: none;
  }
  section.open-source .header-content {
    max-width: 768px;
    margin-bottom: 100px;
    text-align: left;
  }
  section.open-source .header-content h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 5%;
  }
  section.open-source .header-content h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  section.open-source {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.open-source .img-container {
    display: inherit;
    width: 400px;
    margin-left: 0%;
  }
  section.open-source .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.open-source .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.open-source .header-content h2 {
    font-size: 20px;
    padding-left: 5%;
  }
}

@media (min-width: 1300px) {
  section.open-source {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.open-source .img-container {
    display: inherit;
    width: 400px;
    float: right;
  }
  section.open-source .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  section.open-source .header-content h1 {
    font-size: 50px;
    padding-left: 5%;
  }
  section.open-source .header-content h2 {
    font-size: 30px;
    padding-left: 5%;
  }
}
