section.mobile-img {
    position: relative;
    background-image: $blackboard;

    width: auto;
    height: auto;
    padding-top: 150px;
    padding-bottom: 100px;

    @media (min-width: 1024px) {
        width: 0%;
        height: 0%;
        padding-top: 0px;
        padding-bottom: 0px;

    }
  }



