// Variables

// Gray and Brand Colors for use across theme

$thm-blue:   #002878;
$thm-gray: #4a5c66;
$card-divider:   #ff8c00;
$cards-navbar-green:#2ac55f;
$white: white;
$black: black;
$yellow-card: #fafad2;
$blackboard: url('../img/blackboard.jpg');
$green-card: linear-gradient(0deg, rgba(92, 184, 92, .3) 0, rgba(92, 184, 92, .3) 2px, #f0fff0 3px, #f0fff0);
$lightgreen: #f0fff0;
$lightblue: #e0ffff;
$click-orange: #ff9800;

$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;

$bg-click: url('../img/yellow-blue-questionmarks.jpg');
$click-blue: #17a2b8;

$bg-tutorial: url('../img/three-red-questionmarks.jpg');
$tutorial-hover: rgba(0,0,0,0.8);
$tutorial-indicators: #bbb;

$bg-bonus: url('../img/pencil.png');

$features-shaddow: rgba(0, 0, 0, 0.2);

$bg-frag-jetzt: url('../img/one-red-questionmark.jpg');
$frag-jetzt-button: #bb86fc;

$bg-linux: url('../img/Linux-Regal2.jpg');

$bg-leitner: url('../img/arsnova-landing-page.png');

$bg-pomodoro: url('../img/Pomodoro-Timer.png');




$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee




