/*!
 * Start Bootstrap - New Age v5.0.8 (https://startbootstrap.com/themes/new-age)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-new-age/blob/master/LICENSE)
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #002878;
  transition: all .35s;
}

a:hover, a:focus {
  color: #001745;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  background-color: white;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #2ac55f !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #ff8c00 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #002878;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #002878;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #002878;
  }
}

header.masthead {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background-image: url("../img/blackboard.jpg");
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (max-width: 600px) {
  header.masthead .device-container {
    display: none;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.integration {
  position: relative;
  padding: 20px 0 250px 0;
  background-image: url("../img/blackboard.jpg");
  background-position: center;
  background-size: cover;
}

section.integration .section-heading {
  margin-bottom: 100px;
}

section.integration .section-heading h2 {
  margin-top: 0;
  color: white;
}

section.integration .section-heading p {
  margin-bottom: 0;
}

section.integration .device-container,
section.integration .feature-item {
  max-width: 225px;
  margin: 0 auto;
}

section.integration .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.integration .device-container {
    margin-bottom: 0;
  }
}

section.integration .frag-jetzt {
  color: #fb9a1c;
  padding-bottom: 20px;
}

section.integration .frag-jetzt a {
  width: 100%;
  text-decoration: none;
  height: 90%;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}

section.integration .frag-jetzt h1 {
  margin: 0 !important;
  width: 100%;
  height: 10%;
}

section.integration .btn-frag-jetzt {
  background-color: #bb86fc;
  text-decoration: none;
  border: none;
}

section.integration .arsnova-click {
  width: 100%;
  height: 80%;
  float: top;
  padding: 15px;
  display: inline-block;
  color: #20c997;
}

section.integration .arsnova-click a {
  width: 100%;
  text-decoration: none;
  height: 90%;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 1px;
}

section.integration .arsnova-click a h1 {
  margin: 0 !important;
  width: 100%;
  height: 10%;
}

section.integration .btn-arsnova-click {
  background-color: #17a2b8;
  text-decoration: none;
  border: none;
}

@media (max-width: 600px) {
  section.integration .device-container {
    display: none;
  }
}

section.linux {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0 250px 0;
  background: url("../img/Linux-Regal.jpg") center;
  background-size: cover;
}

section.linux h1 {
  font-size: 14vw;
  font-weight: 700;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  color: #2ac55f !important;
}

section.linux h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: white;
}

section.linux .header-content {
  text-align: center;
}

section.linux .device-container,
section.linux .feature-item {
  max-width: 225px;
  margin: 0 auto;
}

section.linux .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.linux .device-container {
    margin-bottom: 0;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(to left, #4a5c66, #4a5c66);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.features .card {
  background-color: #fafad2 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.features .card i {
  height: 100%;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 100px;
  padding-top: 20px;
}

section.features .card hr {
  border-top: 2px solid #ff8c00;
  margin: 30px -20px 20px;
  padding-right: 100%;
}

section.features .card img {
  max-width: 115px;
  padding-top: 20px;
}

@media (max-width: 600px) {
  section.features .device-container {
    display: none;
  }
}

section.features .flip-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

section.features .flip-card-inner {
  background-color: #fafad2 !important;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.features .flip-card-inner i {
  height: 100%;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 115px;
  padding-top: 20px;
}

section.features .flip-card-inner img {
  max-width: 115px;
  padding-top: 20px;
}

section.features .flip-card-inner hr {
  border-top: 2px solid #ff8c00;
  margin: 20px 0px 20px;
  padding-right: 100%;
}

section.features .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

section.features .flip-card-front, section.features .flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section.features .flip-card-front {
  color: black;
}

section.features .flip-card-back {
  transform: rotateY(180deg);
  text-align: left;
  padding: 10%;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/blackboard.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.faq .margin-left {
  margin-left: 20%;
}

section.faq .margin-right {
  margin-right: 20%;
}

section.faq .card-header {
  background: linear-gradient(0deg, rgba(92, 184, 92, 0.3) 0, rgba(92, 184, 92, 0.3) 2px, #f0fff0 3px, #f0fff0) !important;
  color: #002878;
}

section.faq .btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

section.faq .btn-link.focus, section.faq .btn-link:focus {
  text-decoration: none;
}

section.faq .btn-link:hover {
  color: #002878;
  text-decoration: none;
}

section.faq .btn.focus, section.faq .btn:focus {
  outline: none;
}

section.faq .card-body {
  background-color: #fafad2 !important;
  text-align: left;
  overflow-y: auto;
}

section.faq .card-body img {
  text-align: center;
  position: center;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
  color: white;
}

.bg-primary {
  background: #002878;
  background: linear-gradient(#002878, #00205f);
}

.text-primary {
  color: #2ac55f !important;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #002878;
  background-color: #002878;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

section.bonus {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0 250px 0;
  background: #1b1e21;
  background-size: cover;
}

section.bonus img {
  float: right;
  width: 400px;
}

section.bonus .section-heading {
  max-width: 200px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

section.bonus .section-heading h1 {
  font-size: 30px;
}

section.bonus .device-container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

section.bonus .device-container .screen img {
  border-radius: 3px;
}

@media (max-width: 600px) {
  section.bonus .device-container {
    display: none;
  }
}

section.bonus .carousel-item {
  height: 55vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

section.bonus .carousel-indicators {
  bottom: -150px;
}
