html,
body {
    width: 100%;
    max-height: 1024px;
    position: relative;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: left;
    background: url("img/blackboard.jpg") fixed;
    background-size: cover;
}

body {
    font-family: 'squeaky_chalk_soundregular', 'sans-serif';

}




/* layout */

.util-jc-flex-start {
    justify-content: flex-start;
    padding: 10px;

}

.content-container{
    width:1000px;
    padding:0 16px;

}

.content-container-no-pad{
    width:1000px;
    padding:0 16px;

}

.debug-border{
    box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.5);
}

/* footer */

.footer-list *{
    text-align:left;
}

.footer-list-big .footer-list-big-align{
    justify-content:flex-end;

}

@media screen and (max-width:1024px){

    .footer-layout{
        flex-direction:column;

    }
    .footer-list {
        padding:20px 0;

    }
    .footer-list-big .footer-list-big-align{
        justify-content:center;

    }
    .footer-scroll-btn{
        width:100%;
        text-align:center;
        margin-bottom:32px;

    }
    .content-container-no-pad{
        width:1000px;
        padding:0 0;

    }
    .hide-on-mobile{
        display:none;
    }
}

.cursor-pointer{
    cursor:pointer;
}

/* Translation */

.en, .de {
    display:none;
}

.en:lang(en), .de:lang(de){
    display:block;
}
