
.util{
  &-screen{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
  }
  &-layout{
    &-col{
      display:flex;
      overflow:auto;
      justify-content:center;
      flex-direction:column;
    }
    &-row{
      display:flex;
      overflow:auto;
      justify-content:center;
      flex-direction:row;
    }
  }
  &-row{
    width:100%;
    height:auto;
    flex-shrink:0;
    overflow:visible;
    &-inset{
      width:100%;
      height:auto;
      flex-shrink:1;
      overflow:visible;
      box-sizing:border-box;
    }
  }
  &-col{
    width:auto;
    height:100%;
    flex-shrink:0;
    overflow:visible;
    &-inset{
      width:auto;
      height:100%;
      flex-shrink:1;
      overflow:visible;
      box-sizing:border-box;
    }
  }
  &-fill{
    flex-grow:1;
    overflow:hidden;
  }
  &-pad{
    &-x{
      &-p8{
        padding:0 8px;
      }
    }
    &-y{
      &-p8{
        padding:8px 0;
      }
    }
    &-p8{
      padding:8px;
    }
  }
}
