.util-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.util-layout-col {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: column;
}
.util-layout-row {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: row;
}
.util-row {
  width: 100%;
  flex-shrink: 0;
  overflow: visible;
}
.util-row-inset {
  width: 100%;
  flex-shrink: 1;
  overflow: visible;
  box-sizing: border-box;
}
.util-col {
  height: 100%;
  flex-shrink: 0;
  overflow: visible;
}
.util-col-inset {
  height: 100%;
  flex-shrink: 1;
  overflow: visible;
  box-sizing: border-box;
}
.util-fill {
  flex-grow: 1;
  overflow: hidden;
}
.util-jc-flex-start{
  justify-content:flex-start;
}
.util-jc-flex-end{
  justify-content:flex-end;
}
.util-jc-space-between{
  justify-content:space-between;
}
.util-fg-2{
  flex-grow:2;
}

/*# sourceMappingURL=flex.css.map */
